*{
    margin:0;
    padding :0;
    box-sizing:border-box;
}

html {
    font-size: 10px;
}

body{
    font-size:  2em;
}

.para-main{
    color:rgb(221, 59, 204);
    font-style: italic;
    font-style:serif
    
}
.para-1{
    color:rgb(63, 34, 125);
    font-style: italic;
    font-weight: 400px;
    font-family:serif;
    
}
#para-second{
    color: rgb(27, 65, 113);
    font-weight: 600px;
    font-style: inherit;
    font-family:monospace;
}
body div p .para-main{

}